body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#header {
    text-align: center;
    padding: 20px;
    border-radius:15px;
    margin:10px;
    background-color:red;
    height: 5%;;
    

  
}

#container {
    display: flex;
    margin-left: 10px;
    height: 85%;
  background-color: #0099ff;
  margin-right: 10px;
}

#herramientas, #map, #visor {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
}

#herramientas {
width: 20%;

    background-color: red;
    border-radius: 10px;
}

#panel-herramientas{
    height: 6%;
    background-color: rgb(0, 247, 255);
    margin: -5px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#contenido-herramientas{
    height: 70%;
    background-color: blue;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}
#mapa_base{
    height: 12%;
    background-color: rgb(157, 255, 0);
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
}





#map {
    flex: 2; /* Original size */
    margin-right: 10px;
    border-radius: 10px;
   background-color: green;
}

#visor {
    flex: 1; /* Size when visible */
    margin-right: 20px;
    margin-left: 0px;
   
}

.oculto {
    display: none; /* Hide visor initially */
}
/* Style for all buttons */
button {
    display: inline-block; /* Display buttons horizontally */
    margin: 2px;
    border-radius: 15px;
    color: blueviolet;
    background-color: pink;
    padding: 8px;
    cursor: pointer; /* Indicate clickable behavior */
    width: 80%;
  }
  
  /* Style for button hover state */
  button:hover {
    background-color: #2f00ff; /* Dark blue on hover */
  }
  
  /* Style for button active state */
  .buttonActive {
    background-color: #00ff0d; /* O cualquier color que desees para el estado activo */
}

  

  

  
/* ... (mismo CSS anterior con algunas adiciones) ... */

#contenido-1, #contenido-2 {
    display: none; /* Hide content by default */
}

.mostrar {
    display: block; /* Class to show content */
}

#replica-botones button {
    margin: 10px 0; /* Espaciado para los botones replicados */
}