body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#header {
    text-align: center;
    padding: 20px;
    border-radius:15px;
    margin:10px;
    background-color:red;
    height: 5%;;
    

  
}

#container {
    display: flex;
    margin-left: 10px;
    height: 85%;
  background-color: #0099ff;
  margin-right: 10px;
}

#map, #visor {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
}

#herramientas {
    width: 22%;
    padding: 10px;
    margin:10px ;
    background-color: red;
    border-radius: 10px;
}


#panel-herramientas{
    height: 6%;
    width: 93%;
    background-color: rgb(0, 247, 255);
   margin-right: 10px;
   margin-left: 5px;
   margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    display: in;
    justify-content: center;
    align-items: center;
    position: flex;
    text-align: center;
}
#contenido-herramientas{
    height: 70%;
    background-color: blue;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    position:relative ;
    overflow: auto;
    
}

  
#contenido-1{

    background-color: #3cff00;
    height: 100%;
    width: 100%;
    display: flex;

}

#contenido-2 {
    display: none; /* Hide content by default */
    overflow: auto;
    background-color: #466848;

}





#mapa_base{
    height: 15%;
    background-color: rgb(157, 255, 0);
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    
}
/*contenedor de los mapa base*/

#mde{
    
}
#uno{
height:95% ;
width:19% ;
background-color: #0099ff;
display: inline-block;

}
#dos{
    height:95% ;
width:19% ;
background-color: #0099ffab;
display: inline-block;

}
#tres{
    height:95% ;
    width:19% ;
    background-color: #3cff00;  
    display: inline-block;
 
}
#cuatro{
    height:95% ;
    width:19% ;
    background-color: #095385; 
    display: inline-block;
 
}

#capas{
    background-color: rgb(128, 64, 64);
    display: flex;
    overflow: auto;
    height: 75% ;
    position: flex;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 5px;
}
#MDE{
    position:absolute;
    background-color: rgb(99, 8, 8);
    height: 20%;
    width: 94%;

    margin-left: 3%;



}





.map-base-selector {
    cursor: pointer;
    transition: transform 0.2s;
}

.map-base-selector:hover {
    transform: scale(1.1);
}

.map-base-selector.selected {
    border: 2px solid blue;
}





#myImage {
    cursor: pointer;
    transition: transform 0.2s;
    border: 0;
}


#myImage:hover {
    transform: scale(1.1);
}

.green-border {
    border: 2px solid green;
}










#map {
    flex: 2; /* Original size */
    margin-right: 10px;
    border-radius: 10px;
   background-color: green;
   position: relative;
}

#visor {
    flex: .5; /* Size when visible */
    margin-right: 20px;
    margin-left: 0px;
   
}

.oculto {
    display: none; /* Hide visor initially */
}


.myButton{
    background-color: #bdbdbd;
    color: rgb(179, 46, 46);
    font-size: 12px;
    border-radius: 15px;
    border: none;
    width: 27%;
    height: 100%;
}
#boton_h{
    width: 35%;
}

/* Style for all buttons */

  
  /* Style for button hover state */
  button:hover {
    background-color: #2f00ff; /* Dark blue on hover */
  }
  
  /* Style for button active state */
  .buttonActive {
    background-color: #ff1e00; /* O cualquier color que desees para el estado activo */
}



.mostrar {
    display: block; /* Class to show content */
}


/*BOTON MAPA */
.zoom-mexico-btn {
    position: absolute;
    top: 50px; /* Posiciona el botón en la parte superior del contenedor */
    right: 10px; /* Posiciona el botón a la derecha del contenedor */
    border-radius: 50%;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 24px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que el botón esté por encima del mapa */
}
.clicked {
    background-color: blue; /* Color después del clic */
  }

#removeLayerBtn{
width: 45%;
}


#zoomToSpecificLevelBtn{
    width: 45%;
}


#addPointBtn{
    width: 95%;
}


#dragger {
    background: #ccc;
    cursor: ew-resize;
    width: 5px; /* Puedes ajustar el ancho del dragger aquí */
  }

  .herramientas, .map {
    flex-grow: 1;
    overflow: auto;
  }

  /*boton   para ocultar herramientas*/
  #dragger {
    position: relative; /* Permite el posicionamiento absoluto del botón dentro */
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    align-items: center; /* Centra el botón verticalmente */
    background-color:#c7c7c7;
    margin-right: 5px;
    width: 4px;
}
  
  #toggleButton {
    position: absolute;
    border-radius: 4px;
    background-color:  #c7c7c7;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center;
    height: 35px;
    width: 3px;
  border: none;
    color: rgb(148, 148, 148);
    z-index: 3;
    cursor: pointer;

    /* Centrado ya manejado por flexbox en #dragger, pero puedes ajustar el botón si es necesario */
  }
  
  #toggleButton:hover{
    background-color: #868686;

  }